*{
    overflow-x: visible;
}
h2{
    height: 1.3em;
}
.row{
    color: white;
    margin-left: 20px;

}
.row_posters{
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    display: flex;
}
.row_posters::-webkit-scrollbar{
    display: none;
}
.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin: 10px;
  transition: transform 450ms;
}
.row_poster:hover{
    transform: scale(1.08);
}
.row_posterLarge{
    max-height: 250px;
}
.row_posterLarge:hover{
    transform: scale(1.08);
}
