.modal-content{
    background-color: rgba(24, 22, 22, 0.733) !important;
}
.modal-title{
    text-transform: uppercase;
}
.btn-close{
    background-color: white;
}
.bodyContent{
    color: white;
    font-family: sans-serif;
}
.modalImg{
    width: 16rem;
}